@font-face {
    font-family: 'DS-Digital';
    src: url('fonts/DS-Digital-BoldItalic.eot');
    src: url('fonts/DS-Digital-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/DS-Digital-BoldItalic.woff2') format('woff2'),
        url('fonts/DS-Digital-BoldItalic.woff') format('woff'),
        url('fonts/DS-Digital-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DS-Digital';
    src: url('fonts/DS-Digital.eot');
    src: url('fonts/DS-Digital.eot?#iefix') format('embedded-opentype'),
        url('fonts/DS-Digital.woff2') format('woff2'),
        url('fonts/DS-Digital.woff') format('woff'),
        url('fonts/DS-Digital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DS-Digital';
    src: url('fonts/DS-Digital-Italic.eot');
    src: url('fonts/DS-Digital-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/DS-Digital-Italic.woff2') format('woff2'),
        url('fonts/DS-Digital-Italic.woff') format('woff'),
        url('fonts/DS-Digital-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DS-Digital';
    src: url('fonts/DS-Digital-Bold.eot');
    src: url('fonts/DS-Digital-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DS-Digital-Bold.woff2') format('woff2'),
        url('fonts/DS-Digital-Bold.woff') format('woff'),
        url('fonts/DS-Digital-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

