html {
  height: 100vh;
}

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  height: 100%;
}

div.spacer5p {
  height: 5%;
  width: 100%;
}

div.main {
  margin-left: 50px;
  margin-right: 50px;

  height: 90%;

  background-color: RGB(214, 214, 214);
}

#list-wrapper {
  overflow: hidden;
  width: 100%;
  max-height: 100%;
  display: block;

  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 1%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0) 99%
  );
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

#boys-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  animation: loop 60s linear infinite;

  text-align: center;
  padding: 0;
  margin: 0 auto;
}

@keyframes loop {
  0% {
    transform: translateY(5%);
  }
  95% {
    transform: translateY(calc(-100% + 400px));
  }
  100% {
    transform: translateY(5%);
  }
}

.boys {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

li.boys {
  list-style: none;
  float: left;
  width: 200px;
  /*height: 400px;*/
  padding: 20px 30px 20px 30px;
  margin: 20px;

  background-color: RGB(255, 255, 255);

  border-width: 2px;
  border-color: RGB(50, 50, 50);
  border-style: ridge;
  border-radius: 8px;
}

li.tot {
  background: repeating-linear-gradient(-45deg, white, gray 10px, white);
}

li.chronos {
  box-shadow: inset 0px 0px 48px 24px rgba(19, 119, 235, 0.7);
}

li.kairos {
  box-shadow: inset 0px 0px 48px 24px rgba(28, 100, 18, 0.7);
}

p.boys {
  color: RGB(32, 32, 32);
  margin-top: 0px;
  margin-bottom: 0px;
}

p.nn {
  font-size: 24pt;
  font-weight: 600;
  margin-top: 0;
}

p.vn {
  font-size: 20pt;
  margin-bottom: 0;
}

br.boys {
  height: 32px;
}

img.boys {
  width: 200px;
  height: 200px;
  background-color: red;
}

.timer {
  font-size: 42pt;
  font-family: DS-Digital, Arial, Helvetica, sans-serif;
  margin-bottom: 16px;
}
.rot {
  color: red;
}
